.row
	.col.md-10.col-md-offset-1
		=link_to 'Add ad', new_admin_ad_path, class: 'btn btn-primary'
.row
	.col-md-10.col-md-offset-1
		.search-form
			= search_form_for [:admin, @q] do |f|
				= f.text_field :title_cont
				= f.text_field :description_cont
				= f.text_field :validity
				= f.button :submit, class: "btn btn-default btn-xs"
.row
	.col.md-10.col-md-offset-1
		%table.table.table-striped
			%thead
				%tr
					%th #
					%th= sort_link(@q, :title, 'Title')
					%th= sort_link(@q, :description, 'Description')
					%th= sort_link(@q, :validity, 'Validity')
					%th Actions
			%tbody
				- @ads.each_with_index do |ad, index|
					%tr
						%td= quantity_grater_then_ten(index)
						%td= ad.title
						%td= ad.description
						%td= ad.validity
						%td
							- if user_signed_in?
								= link_to admin_ad_path(ad), class: 'btn btn-default btn-xs' do
									%span.fa.fa-search
								= link_to edit_admin_ad_path(ad), class: 'btn btn-default btn-xs' do
									%span.fa.fa-pencil
								= link_to admin_ad_path(ad), method: :delete, class: 'btn btn-default btn-xs', data: {Confirm: 'Are You sure ?'} do
									%span.fa.fa-trash
.row
	.col.md-10.col_md_offset-1
		= paginate @ads