!!!
%head
	%title Autocomplex
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%header
		= nav_bar brand: image_tag("ac.png"), responsive: true do
			%ul.nav.navbar-nav
				%li= link_to 'Products', admin_products_path
				%li= link_to 'Pictures', admin_pictures_path
				%li= link_to 'Ads', admin_ads_path
				%li= link_to 'Jobs', admin_jobs_path
			%ul.nav.navbar-nav.navbar-right
				- if params[:controller] == 'admin/products' && params[:action] = 'index'
					%li= link_to 'Add product', new_admin_product_path
				- if params[:controller] == 'admin/pictures' && params[:action] = 'index'
					%li= link_to 'Add picture', new_admin_picture_path
				- if params[:controller] == 'admin/ads' && params[:action] = 'index'
					%li= link_to 'Add ad', new_admin_ad_path
				%li= link_to 'Log out', destroy_user_session_path, method: :delete
	= bootstrap_flash
	.container-fluid
		= yield