!!!
%head
	%title Autocomplex
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%header
		= nav_bar brand: image_tag("ac.png"), responsive: true do
			%ul.nav.navbar-nav
				%li= link_to 'Products', admin_products_path
				%li= link_to 'Pictures', admin_pictures_path
			%ul.nav.navbar-nav.navbar-right
				%li= link_to 'New product', new_admin_product_path
				%li= link_to 'Log out', destroy_user_session_path, method: :delete
	= bootstrap_flash
	.container
		= yield