!!!
%head
	%title Autocomplex
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%header
		= nav_bar brand: image_tag("ac.png"), responsive: true do
			%ul.nav.navbar-nav
				%li= link_to 'Produkty', admin_products_path
			%ul.nav.navbar-nav.navbar-right
				%li= link_to 'Nowy produkt', new_admin_product_path
				%li= link_to 'Wyloguj', destroy_user_session_path, method: :delete
	.container-fluid
		= if flash[:notice]
			.alert.alert-success= flash[:notice]
		= yield