!!!
%head
	%title Autocomplex
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default.navbar-static-top
		.container
			.navbar-header
				%a{ class: "navbar-brand", href: "#{root_path}" } Autokomplex
			%ul.nav.navbar-nav
				%li= link_to 'O nas', about_path
				%li= link_to 'Kontakt', contact_path
	.container-fluid
		%p.notice= notice
		%p.alert= alert
		= yield